<div class="admin-layout">
    <div class="nav-fixed-top cp-toolbar">
        <button type="button" class="btn btn-primary btn-sm" (click)="back()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{'TOOLBAR.BACK' | translate}}
        </button>
        <button type="button" class="btn btn-success btn-sm ml-1">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> {{'TOOLBAR.SAVE' | translate}}
        </button>
    </div>

    <div class="cp-content">
        Module 2 Add
    </div>
</div>